services:
  - type: web
    name: gptlov
    env: python
    plan: free
    buildCommand: pip install --upgrade pip && pip install -e .
    startCommand: uvicorn gptlov.server:app --host 0.0.0.0 --port 10000
    autoDeploy: true
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: GPTLOV_RAW_DATA_DIR
        value: data/raw
      - key: GPTLOV_WORKSPACE_DIR
        value: data/workspace
      - key: GPTLOV_SEARCH_BACKEND
        value: elasticsearch
      - key: GPTLOV_ES_HOST
        sync: false
      - key: GPTLOV_ES_INDEX
        value: gptlov
